:root {
  --background-color: #f3f4f6;
  --alt-background-color: #3f3f46;
  --font-dark-color: #18181b;
  --font-light-color: #fafafa;
  --gameboard-cell-color: #dcdfe3;
  --gameboard-active-cell-color: #aaadb1;
  --mark-color: #3f3f46;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: var(--background-color);
  color: var(--font-dark-color);
}

.title {
  text-align: center;
  color: var(--font-dark-color);
  font-size: 46px;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 20px;
}

.score-board div {
  padding: 4px 12px;
  border-radius: 5px;
}

.score-board span {
  font-weight: 600;
  font-size: 1.3rem;
}

.active-player {
  background: var(--alt-background-color);
  color: var(--font-light-color);
}

.gaming-board {
  width: 360px;
  height: 360px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.gaming-board-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gameboard-cell-color);
  color: var(--mark-color);
  border-radius: 10px;
  font-size: 48px;
  font-weight: 700;
  transition: 0.3s;
}

.gaming-board-cell:hover {
  scale: 1.05;
  color: var(--font-light-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  background: var(--gameboard-active-cell-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-container button {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--gameboard-active-cell-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.button-container button:focus {
  outline: none;
}

.button-container button:hover {
  scale: 1.05;
  background: #f9f9f9;
}

.button-container button:active {
  scale: 0.95;
}

.footer {
  height: 55px;
}

.footer p {
  text-align: center;
  font-weight: 500;
  color: var(--font-dark-color);
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  transition: 0.4s;
}

.footer a:hover {
  font-size: 1.1rem;
}

.footer a:visited {
  text-decoration: none;
  color: var(--font-dark-color);
}

.start-menu-modal {
  height: 100vh;
  width: 100vw;
}

.game-winner-modal {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  backdrop-filter: blur(3px);
  filter: opacity(0.85);
}
