:root {
  --background-color: #f3f4f6;
  --alt-background-color: #3f3f46;
  --font-dark-color: #18181b;
  --font-light-color: #fafafa;
  --gameboard-cell-color: #dcdfe3;
  --gameboard-active-cell-color: #aaadb1;
  --mark-color: #3f3f46;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background: var(--background-color);
  color: var(--font-dark-color);
}

.title {
  text-align: center;
  color: var(--font-dark-color);
  font-size: 46px;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-size: 20px;
  user-select: none;
}

.score-board div {
  padding: 4px 12px;
  border-radius: 5px;
}

#first-player-score,
#second-player-score {
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 10px;
}

.active-player {
  background: var(--alt-background-color);
  color: var(--font-light-color);
  transition: 1s;
}

.game-board {
  width: 360px;
  height: 360px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.game-board-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gameboard-cell-color);
  color: var(--mark-color);
  border-radius: 10px;
  font-size: 48px;
  font-weight: 700;
  transition: 0.3s;
  user-select: none;
}

.game-board-cell:hover {
  scale: 1.05;
  color: var(--font-light-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  background: var(--gameboard-active-cell-color);
}

.round-counter-container {
  width: 120px;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--gameboard-cell-color);
}

#round-counter {
  font-weight: 600;
}

.footer {
  height: 55px;
}

.footer p {
  text-align: center;
  font-weight: 500;
  color: var(--font-dark-color);
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  transition: 0.4s;
  color: var(--font-dark-color);
}

.footer a:hover {
  font-size: 1.1rem;
}

.footer a:visited {
  text-decoration: none;
  color: var(--font-dark-color);
}

.winner-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px 10px;
  width: 320px;
  height: 160px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  backdrop-filter: blur(3px);
  filter: opacity(0.95);
}

.winner-modal > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#winner-modal-text {
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.modal-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.modal-btn-container button {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--gameboard-active-cell-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.modal-btn-container button:focus {
  outline: none;
}

.modal-btn-container button:hover {
  scale: 1.05;
  background: #f9f9f9;
}

.modal-btn-container button:active {
  scale: 0.95;
}
